*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/codeStyles/Project.xml
app/src/main/assets/db_config.properties

.idea/misc.xml

postgresql-42.2.9/build/.transforms/49149d90afc896a578825fe07a873005.bin

postgresql-42.2.9/build/.transforms/49149d90afc896a578825fe07a873005/postgresql-42.2.9/classes.dex

postgresql-42.2.9/build/.transforms/6ff14a79b747ae8a4e2a38df1ec07555.bin

postgresql-42.2.9/build/.transforms/f6933738b1e0245f61f059f356d1635e.bin
